.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form--filter {
    position: relative;
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(189, 189, 189);
}
.form--filter ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form--filter ul li {
    cursor: pointer;
    color: rgb(51, 51, 51);
    font-weight: 600;
    width: 80px;    
    margin: 0 30px;
    text-align: center;
}
.form--filter_active {
    color: rgb(47, 128, 237) !important;
}
#stick {
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 4px;
    background:rgb(47, 128, 237);
    transition: 0.25s;
}
.form--input {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form--input input {
    width: 100%;
    padding: 15px 8px;
    border-radius: 0.5rem;
    color: rgb(130, 130, 130);
    font-size: 0.9rem;
    border: 1px solid rgb(189, 189, 189);
    outline: none;
}
.form--input button {
    margin-left: 20px;
}

.btn {
    padding: 15px 30px;
    color:white;
    background: rgb(47, 128, 237);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    #stick {
        width: 80px;
    }
}

@media only screen and (max-width: 992px) {      
    .form--input input {
        font-size: 0.8rem;
    }
    .form--filter ul li {
        font-size: 0.9rem;
    }
    .btn {
        padding: 12px 25px;
        font-size: 0.9rem;
    }
    #stick {
        width: 78px;
    }
}

@media only screen and (max-width: 600px) {
    #stick {
        width: 42px;
    }
}